<div class="row">
  <div class='col-md-12'>
    <form>
      <div style="width:50rem;" class="form-group">
        <input  type="text" class="form-control" placeholder="Github username" [(ngModel)]="username" name="username" (keyup
        )="search()" />

  </div>
  </form>
</div>
</div>





<div *ngIf="user" class="container">
  <div class="card" style="width: 50rem;">

    <div class="card-header">
      <h3>{{user.name}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="" src="{{user.avatar_url}}" class="card-img-top" alt="...">
        </div>
        <div *ngIf="user" class="col-md-8">
          <ul>
            <li class="list-group-item"><strong>Username: </strong> {{user.login}}</li>
            <li class="list-group-item"><strong>Location: </strong> {{user.location}}</li>
            <li class="list-group-item"><strong>Email: </strong> {{user.email}}</li>
            <li class="list-group-item"><strong>Blog :</strong> {{user.blog}}</li>
            <li class="list-group-item"><strong>Member Since: </strong> {{user.created_at}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 </div>




 <div *ngIf="user" class="container">
   <div class="card" style="width: 50rem;">

     <div class="card-header">
       <h3>{{user.name}}s Repos</h3>
     </div>
     <div class="card-body">
       <div class="row">
         <div class="col-md-12">
           <div *ngFor="let repo of repos">
             <div class="row">
               <div class="col-md-9">
                 <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                 <p>{{repo.description}}</p>
               </div>
               <div class="col-md-3">
                 <span class="btn btn-primary">{{repo.watchers}} Watchers</span>
                 <span class="btn btn-success">{{user.forks}} Forks</span>
               </div>
             </div>
             <hr>

           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
